<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  .navbar-nav{
    display: flex;
    justify-content: space-around;
    font-size: large;
  }  
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DAIRY</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'login' %}">LOGIN</a></li>
      <li><a href="{% url 'registered' %}">REGISTER</a></li>
      <li><a href="{% url 'create' %}">CREATE_PRODUCTS</a></li>
      </div>
    </div>
  </nav>
  {% block content %}
    
  {% endblock %}  
  </html>
  </body>
  <div class="container">
   
    </div>