{% extends 'blog_header.html'%}
{% block content%}

<section class="hero">
    <div class="intro-text">
      <h1 style="text-align: center;">WELCOME TO HOME PAGE</h1> <br />
   
     
 
    </div>
    <div class="i-frame pic">
      <img 
        src="https://camo.githubusercontent.com/1b92d8aff37f0b3c9863ebbed9b4b7f3dd05ec69af57b77e27071d4217d8919c/68747470733a2f2f6465762d746f2d75706c6f6164732e73332e616d617a6f6e6177732e636f6d2f75706c6f6164732f61727469636c65732f6e617870613034353361366268643639636931632e706e67"
        frameborder="10"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></img>
      <div class="stand-1"></div>
      <div class="stand-2"></div>
    </div>
  </section>
<style>
  .pic{
    display: flex;
    justify-content:center ;
    align-items: center;
  }
</style>
</style>
{% endblock %}