<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% comment %} {% load static %} {% endcomment %}

<style>
  .navbar-nav{
    display: flex;
    justify-content: space-around;
    font-size: large;
  }  
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BLOG</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <li class="active"><a href="{% url 'home page' %}">Home</a></li>
      <li><a href="{% url 'bloglogin' %}">LOGIN</a></li>
      <li><a href="{% url 'registered' %}">REGISTER</a></li>
      <li><a href="{% url 'creating' %}">BLOG CREATE</a></li>
      <li><a href="{% url 'get-blog' %}">BLOG LIST</a></li>
      <li><a href="{% url 'logout' %}">LOGOUT</a></li>
      <li><a href="{% url 'product_home' %}">PRODUCTS</a></li>
      <li><a href="{% url 'pasword_update' %}">CHANGE PASSWORD</a></li>
      
      </div>
    </div>
  </nav>
  {% block content %}
    
  {% endblock %}  

  </body>
  </html>
