{% extends 'blog_header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title> CSS Login Screen Tutorial </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
          <center>
            <h3>CHANGE PASSWORD PAGE</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
    </center>
        <form  method="post">
            {% csrf_token %}
           <input  name='password' type='password' placeholder='Password'>
        
        </form>
      </div>
    </div>
</body>
</body>
</html>
{% endblock %}