{% extends 'Base_product.html'%}
{% block content%}

<section class="hero">
    <div class="intro-text">
      <h1 style="text-align: center;">WELCOME TO HOME PAGE</h1> <br />
    </div>
    <div class="i-frame pic">
      <img 
        src="https://www.shutterstock.com/image-photo/fresh-cooked-vegetarian-meal-products-260nw-1021469434.jpg"
        frameborder="10"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></img>
      <div class="stand-1"></div>
      <div class="stand-2"></div>
    </div>
  </section>
<style>
  .pic{
    display: flex;
    justify-content:center ;
    align-items: center;
  }
</style>
</style>
{% endblock %}